*.dmg
*.pkg
.DS_Store
*.swiftmodule
*.app
xcuserdata/
*.xccheckout
*.xcscmblueprint
build/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
!*.xcworkspace/contents.xcworkspacedata
